<div class="content-wrapper">
    <div class="content-header row">
        <div class="col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="col-12">
                    <h2 class="content-header-title float-left mb-0">Solicitudes de pago a empleados
                    </h2>
                    <div class="breadcrumb-wrapper">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-primary" href="index.html">Inicio</a>
                            </li>
                            <li class="breadcrumb-item"><a class="text-primary" >
                                Solicitudes de pago a empleados
                            </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <!-- users list start -->
        <section class="app-user-list">
            <div class="card card-company-table">
                <div class="profile-header-nav">
                    <!-- navbar -->
                    <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                        <div class="col-2">
                            <button class="form-control " (click)="consumirAWS()">
                                Actualizar
                            </button>
                        </div>

                        <!--/ collapse  -->
                        <div class="col-10" style="text-align: right">
                            <label>Mostrar</label> 
                            <select class="form-control-sm" [(ngModel)]="page_size"
                                    (change)="obtenerSolicitudesPagoEmpleados()">
                                <option value="4">4</option>
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </nav>
                    <!--/ navbar -->

                </div>
                <div class="card-datatable table-responsive pt-0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre de la Pyme</th>
                            <th>RUC de la Pyme</th>
                            <th>Nombre del representante legal</th>
                            <th>Nombres y Apellidos empleados</th>
                            <th>Cédula empleados</th>
                            <th>Celular</th>
                            <th>Correo</th>
                            <th>Código del empleado</th>
                            <th>Número de cuenta bancaria</th>
                            <th>Número de cuenta bancaria</th>
                            <th>Monto a pagar</th>
                            <th>Comprobante firmado de la solicitud de pago a empleados</th>
                            <th>ACCIONES</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let pagoEmpleado of listaPagoEmpleados">
                            <td>{{pagoEmpleado.empresa.comercial}}</td>
                            <td>{{pagoEmpleado.empresa.rucEmpresa}}</td>
                            <td>{{pagoEmpleado.empresa.reprsentante}}</td>
                            <td>{{pagoEmpleado.nombresCompletos}}</td>
                            <td>{{pagoEmpleado.cedula}}</td>
                            <td>{{pagoEmpleado.celular}}</td>
                            <td>{{pagoEmpleado.correo}}</td>
                            <td>{{pagoEmpleado.codigoEmpleado}}</td>
                            <td>{{pagoEmpleado.numeroCuentaEmpleado}}</td>
                            <td>{{pagoEmpleado.bancoDestino}}</td>
                            <td>{{pagoEmpleado.montoPagar}}</td>
                            <td>
                                <a *ngIf="pagoEmpleado.archivoFirmado" [href]="pagoEmpleado.archivoFirmado"
                                   target="_blank">Enlace</a>
                                <img *ngIf="pagoEmpleado.documentoVerificado; else content"
                                     src="/assets/fonts/feather/check-green.png"/>
                                <ng-template #content>
                                    <img src="/assets/fonts/feather/mark-red.png"/>
                                </ng-template>
                                Firma verificada
                            </td>
                            <td>
                                <ng-container>
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#modals-slide-in"
                                       (click)="seguroNegarModal(pagoEmpleado._id)" alt="Negar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round" class="feather feather-minus-circle">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="8" y1="12" x2="16" y2="12"></line>
                                        </svg>
                                    </a>
                                    <a href="javascript:void(0);" (click)="procesarPago(pagoEmpleado)" alt="Procesar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round" class="feather feather-check">
                                            <polyline points="20 6 9 17 4 12"></polyline>
                                        </svg>
                                    </a>
                                </ng-container>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <ngb-pagination #paginator [collectionSize]="collectionSize" [(page)]="page" [pageSize]="page_size"
                                [maxSize]="5" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
            <!-- list section end -->
        </section>
        <!-- users list ends -->
    </div>
</div>

<ng-template #negarMdl let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Mensaje</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>MOTIVO POR EL QUE SE NIEGA EL PAGO A EMPLEADO:</p>
        <textarea type="text" [(ngModel)]="observacion" class="form-control"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="enviarNegar()">Negar</button>
        <button type="button" class="btn btn-light" (click)="modal.dismiss( 'Cross click')">Cancelar</button>
    </div>
</ng-template>

<ng-template #procesarMdl let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Procesar</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss( 'Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form form-horizontal mt-3">
            <div class="form-group row">
                <div class="col-sm-12 col-form-label">
                    <label for="montoDisponible">MONTO DISPONIBLE DE LÍNEA DE CRÉDITO DEL USUARIO:</label>
                    <input id="montoDisponible" type="text" class="form-control"
                           value="{{solicitudPago?.montoDisponible}}" disabled/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 col-form-label">
                    <label for="fecha">Fecha de transferencia:</label>
                    <input id="fecha" type="text" class="form-control" value="{{solicitudPago?.created_at}}" disabled/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label>Número de comprobante de transferencia:</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" [(ngModel)]="numeroComprobante"
                           [ngModelOptions]="{ standalone: true }"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label>Fecha de registro de transferencia:</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="{{date | date: 'yyyy-mm-dd' }}" disabled/>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="enviarProcesar()">Procesar</button>
        <button type="button" class="btn btn-light" (click)="modal.dismiss( 'Cross click')">Cancelar</button>
    </div>
</ng-template>
