<div class="content-body">
    <!-- users list start -->
    <section class="ecommerce-details">
    <div class="align-justify text-center">
        <img src="/assets/images/logo/san-jose-v.png" width="400px">
        <h2 class="azul2">
            BIENVENIDO
        </h2>
        <p>
            Este es el portal <b>CENTER</b> en el que su Entidad Financiera podrá <b>otorgar Créditos de consumo, Líneas de Crédito y Big Puntos</b> a sus socios-clientes y empleados.
        </p>
    </div>
    </section>
    <!-- users list ends -->
</div>
